@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*
cores:

#37393A
#595959
#E8EBF7
#44BBA4
#E94F37
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body {
    background-color: #f9f9fc;
}

header {
    width: 100%;
    height: 6rem;
    background-color: #37393A;
    padding-top: 1rem;
}

header > h1 {
    font-family: 'Shantell Sans', cursive;
    text-align: center;
    color: #44BBA4;
}

header > p {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #595959;
    width: 100%;
    height: 3rem;
}

nav > a {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 15px;
    text-align: center;
}

nav > a:hover {
    font-weight: bold;
    background-color: #797979;
    color: #E8EBF7;
    text-decoration: underline;
}

nav > a:hover::before {
    content: ">>";
    background-color: #797979;
    color: #44BBA4;
    text-decoration: underline;
}

nav > a:hover::after {
    content: "<<";
    background-color: #797979;
    color: #44BBA4;
    text-decoration: underline;
}

section {
    margin: 0px auto 2% auto;
    max-width: 960px;
    height: 800px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    background-color: #E8EBF7;
    box-shadow: 0px 0px 20px #2f2f3096;
    
    
}

article#index {
    max-width: 960px;
    height: 500px;
    text-align: justify;
    overflow: auto;
}

article#tabela {
    display: table-cell;
    vertical-align: middle;
    width: 960px;
    height: 500px;
    text-align: justify;
}

article > img {
    float: left;
    margin-right:20px;
    margin-bottom: 15px;
}

aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E94F37;
    max-width: 960px;
    height: 220px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

aside.form {
    margin-top: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #E94F37;
    max-width: 960px;
    height: 220px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

h2.titulo {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

form > input {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
}

form > select {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
}

form > textarea {
    margin-top: 15px;
    height: 9rem;
    width: 60%;
}

input.enviar {
    width: 30%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(101, 218, 130);
}


#titulo > h2 {
    padding: 10px;
    font-family:'Tilt Neon', cursive;;
    text-align: center;
}


table {
    margin-top: 50px;
    width: 100%;
    height: 50%;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 1px solid black;
}

tr:hover {
    background-color: rgb(106, 118, 119);
}

th {
    text-align: center;
    border:1px solid black;
}
